<style>
        header{
            background-color: #611175;
            color: white;
            text-align: center;
        max-width: 800px;
        margin: 0 auto;
        }
        main{
            background-color: white;
            color: #611175;
             max-width: 800px;
        margin: 0 auto;
        }
        
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Programação 1º ano</title>
    </style>
